# macOS
.DS_Store

# IDE Specific
nbproject
.~lock.*
.buildpath
.idea
.project
.settings
.vscode
composer.lock
*.sublime-workspace
*.swp
*.swo

# JS Specific
.eslintcache
coverage
node_modules
*.log
*.tgz

# Repo Specific
apps/build
packages/build
